.triangleError {
    border: 6px solid transparent;
    border-bottom: .5rem solid #df4857;
    margin-left: 1rem;
    width:0;
    height:0;
}

.index-error {
    background-color: #df4857;
    color: #FFFFFF;
    width: 80%;
    position: relative;
    border-radius: 2px;
    padding: 5px;
}

.error-box{
    position: absolute;
}