.mytest-layout {
  height: 85vh;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px 40px 0px 40px;
  border-radius: 8px;
  box-shadow: #cccccc;
}
.table-top-section {
  left: 20%;
  margin: auto;
  width: 80%;
  height: 15%;
}
.table-section {
  left: 20%;
  top: 50%;
  margin: auto;
  width: 80%;
  height: 80%;
  display: flex;
  border-radius: 5px;
}
.table-data-section {
  flex: 9;
}
.table-footer-section {
  flex: 1;
}
.table-name {
  display: inline-block;
  width: 30%;
  height: 100%;
}

.table-search {
  display: inline-block;
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.align-name-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-bar-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.word-break-cell {
  whitespace: "normal";
  wordbreak: "break-word";
}

.table-paper {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.blacked-text {
  display: inline-block;
  color: #262626;
  font-size: 15px;
}

.blacked-text-small {
  color: #262626;
  font-size: 12px;
}

.total-element-footer {
  flex: 1;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
